*{
    margin: 0;
}
h1{
    border-width: 5px;
    border-color: purple;
    border-style: solid;

    /* margin: 50px;
    margin: 10px 20px 30px 40px;
    margin: 10px 20px 30px;
    margin: 10px 20px;
    
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px; */

    padding: 40px;
    padding: 10px 20px 30px 40px;
    padding: 10px 20px 30px;
    padding: 10px 20px;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    
}