*{
    margin: 0;
}

p:hover{
    font-size: xx-small;
    /* font-size: medium;
    font-size: xx-large; */
    font-size: 25px;

    /* font-style: normal; */
    font-size: italic;

    /* font-weight: 100; */
    font-weight: 700;

    font-family: 'Courier New', Courier, monospace;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: cursive; */
}