*{
    margin: 0;
    box-sizing: border-box;
}

#nav{
    height: 80px;
    width: 100vw;
    background-color: #a20c0b;
    display: flex;
}

#one{
    border: 2px solid white;
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 55px;
}

#two{
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

