*{
    margin: 0;
}
h1{
    border-width: 5px;
    border-color: rebeccapurple;
    border-style: solid;

    /* margin: 50px; */
    /* margin: 10px 20px 30px 40px;
    margin: 10px 20px 30px;
    margin: 10px 20px; */

    /* margin-top: -10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px; */

    padding: 40px;
    /* padding: 10px 20px 30px 40px;
    padding: 10px 20px 30px;
    padding: 10px 20px; */

    /* padding-top:10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; */

    /* height: 200px;
    width: 200px;

    box-sizing: content-box;
    box-sizing: border-box; */
}

section{
    border: 2px solid black;
    height: 300px;
    width: 300px;
    margin-top: 150px;
    margin-left: 530px;

    box-shadow: 10px -20px 10px black;

    box-shadow: 10px -20px 10px brown inset;

    box-shadow: -10px -10px 5px red,
                10px 10px 5px red,
                -20px -20px 5px blue,
                20px 20px 5px blue,
                -30px -30px 5px green,
                30px 30px 5px green;
                
    border-radius: 50%;
}