*{
    margin: 0;
    box-sizing: border-box;
}

/* h1{
    border: 2px solid red;
    display: inline;
    height:300px;
    width: 300px;
    margin: 10px;
    padding: 20px;
} */

/* b{
    border: 2px solid blue;
    display: block;
    height:200px;
    width: 200px;
    margin: 40px;
    padding: 20px;
} */

/* !DISPLAY:INLINE-BLOCK */
/* section{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
} */


/* ! DISPLAY:NONE AND VISIBILITY:HIDDEN */
section{
    height: 200px;
    width: 200px;
    border: 2px solid black;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
    display: none;
    visibility: hidden;
}
#blue{
    background-color: blue;
}